<div class="container">
    <div class="about">
        <div class="entry">
            <img class="bg" src="https://i.imgur.com/YB1b7rY.jpg" data-position="calc(50% + 30px) 50%" />
            <div class="content">
                <h2>Brahctopus</h2>
                <h3></h3>
                <p>Brahctopus is a 7 piece rock outfit playing originals from several genres spanning jam rock, psychedelic, reggae and funk. The inspiration is drawn from across the board, no genre or time period excluded. With surreal lyrics, mind-bending solos and feel good rhythms, the goal is to bring the audience an unforgettable and innovative music experience to broaden the imagination. Brahctopus consists of ukulele, synthesizers, electric guitar, acoustic guitar, key-tar, bass, drums and astounding vocal harmonies. Brahctopus is currently working on their debut psychedelic-jam album to be released early 2019. Keep it squiggly!</p>
            </div>
        </div>
        <div class="entry">
            <img class="bg" src="https://i.imgur.com/chddKTp.jpg" data-position="calc(30% + 30px) 50%" />
            <div class="content">
                <h2>Ethan Kovalcik</h2>
                <h3>Ukulele/Lead Vocals</h3>
                <p>Ethan Kovalcik is a singer, songwriter and ukulelist from East Vandergrift, Pa. Ethan started his music career with some close friends in an acoustic band, 3 Dudes Chillin’, who gained a quick local following in the Greater Pittsburgh area and still play together regularly. In 2012, Ethan co-founded GareFest, a music festival and camp-out, with Garrett Lewis (Gare Bear) and a few other friends. Ever since, GareFest has become a highly sought after performance location for many Pittsburgh and regional bands. In 2015, while attending the CCAC college of music, Ethan met some classmates who began jam sessions after their studies leading to the formation of Brahctopus. After a few years of cycling through some great musicians and original material, Brahctopus found their sound and Ethan’s songs started to take form a way he never imagined but always dreamed.</p>
            </div>
        </div>
        <div class="entry">
            <img class="bg" src="https://i.imgur.com/cxgEhpC.jpg" data-position="calc(100% + 30px) 50%" />
            <div class="content">
                <h2>John Wilcox</h2>
                <h3>Electric Guitar/Vocals</h3>
                <p>John Wilcox is a musician from the south hills of Pittsburgh. After studying sound recording and jazz guitar at Duquesne University, John began producing and performing with Pittsburgh artists November Blue, Nevin James, and The Frequent Flyers Club. In the fall of 2018, fellow Duquesne classmates Travis Butler and Austin Ostiguy approached John about adding his overdriven guitar and vocal harmonies to the upcoming Brahctopus album “Mothership”</p>
            </div>
        </div>
        <div class="entry">
            <img class="bg" src="https://i.imgur.com/dmnA1HI.jpg" data-position="calc(50% + 30px) 30%" />
            <div class="content">
                <h2>Nikola Svitek</h2>
                <h3>Acoustic Guitar/Vocals</h3>
                <p>Nick Svitek began his musical journey at age 5 taking piano lessons.  Growing up in Natrona Heights PA as part of a large family that is always playing music, he is familiar with many different instruments and genres. Nick progressed to the trumpet in grade school, then to the tuba/sousaphone throughout middle school and high school, where he was selected each year to play in the Alle-Kiski honors band.  As his musical interests continued to grow, he explored multiple genres throughout the Pittsburgh music scene, where he has played a variety of instruments such as: guitar, bass, percussion, trumpet, piano, and synths, in styles ranging from punk to blues to reggae and a bunch in between.  Nick has played various roles in the Pittsburgh based acts BlitheHound and Red Room Effect before being approached to join Brahctopus in 2016.</p>
            </div>
        </div>
        <div class="entry">
            <img class="bg" src="https://i.imgur.com/mFTvdyg.jpg" data-position="calc(90% + 30px) 50%" />
            <div class="content">
                <h2>Jared Dray</h2>
                <h3>Keyboards</h3>
                <p>Jared Dray is a musician hailing from Uniontown, Pa. After honing his craft on classical, gospel and the blues he broke into the music scene with The YJJs. After a couple of years in the music scene he then joined the ranks of Brahctopus, drawn to the originality and DIY work ethic the band has built their reputation on. When Dray is not getting squiggly with the brahs, he can be found slaying keys with Stationary Pebbles. Some believe Dray might be a wizard.</p>        
            </div>
        </div>
        <div class="entry">
            <img class="bg" src="https://i.imgur.com/yGu5sKY.jpg" data-position="calc(40% + 30px) 50%" />
            <div class="content">
                <h2>Austin Ostiguy</h2>
                <h3>Keyboards/Vocals</h3>
                <p>Austin Ostiguy is a producer and music director from North Kingstown, Rhode Island. Austin came to Pittsburgh to study music production and Jazz trumpet at Duquesne University, and since his graduation he has settled into the local music scene taking on a variety of creative projects. Most notably, Austin is the keyboard player and Music Director for country artist Justin Fabus, having joined the singer on two annual tours including shows in areas such as Nashville, Chicago, Washington D.C. and Cleveland. In 2018, Austin was approached by bandmate Travis Butler to co-produce Brahctopus, adding rich vocal harmonies and electric keytar riffs. As the 7th tentacle, Austin completes the new-and-improved Brahctopus lineup – a force to be reckoned with on the highly-anticipated debut album “Mothership.”</p>        
            </div>
        </div>
        <div class="entry">
            <img class="bg" src="https://i.imgur.com/C5EVvfo.jpg" data-position="calc(85% + 30px) 50%" />
            <div class="content">
                <h2>Karl Kroll</h2>
                <h3>Bass</h3>
                <p>Karl Kroll, originally from Bethel Park, PA,  has been playing and establishing himself across the Pittsburgh region for several years. His adventures in music began at a young age; playing in several school ensembles and diving into jazz in high school. Years later, he has become adept in the arena of stringed instruments, specializing in the bass guitar. Karl (Karlos) began jamming with Brahctopus early in 2016 and has never looked back. When he’s not keeping it squiggly, you’ll find him deep in the forest, pondering life’s greatest mysteries.</p>        
            </div>
        </div>
        <div class="entry">
            <img class="bg" src="https://i.imgur.com/iFwgkln.jpg" data-position="calc(80% + 30px) 50%" />
            <div class="content">
                <h2>Travis Butler</h2>
                <h3>Drums</h3>
                <p>Travis Butler grew up in Bethel Park, PA and began drumming during his time at Memorial Elementary School. He hasn’t stopped since, pursuing percussion and sound recording technology through his recent graduation from Duquesne University’s Mary Pappert School of Music. Travis joined Brahctopus in 2017 through his former high school classmate, Karl Kroll. In addition to playing the drums, Travis also engineered and produced “Mothership”.</p>
            </div>
        </div>
    </div>
</div>