<div class="container">
    <img class="bg" src="https://i.imgur.com/eCLF7m5.jpg" data-position="calc(50% + 30px) 50%" />
    <div class="electronic-press-kit">
        <div class="epk">
            <div class="header"><h1>Brahctopus</h1></div>
            <div class="header"><h2>Electronic Press Kit</h2></div>
        </div>
        <div class="epk">
            <div class="header"><h3>Bio</h3></div>
            <p>Brahctopus is a 7 piece rock outfit, hailing from Pittsburgh, playing originals from several genres spanning jam-rock, psychedelic, reggae and funk. The inspiration is drawn from across the board, no time period excluded. With surreal lyrics, mind bending solos, and feel good rhythms; the goal is to bring the audience an unforgettable and innovative music experience to broaden the imagination. Brahctopus consists of ukulele, synthesizers, electric guitar, acoustic guitar, key-tar, bass, drums and astounding vocal harmonies. Brahctopus is currently working on their debut psychedelic-jam album to be released on all outlets early 2019. Keep it Squiggly!</p>
        </div>
        <div class="epk row">
            <div class="col-md-6">
                <div class="header"><h3>Contact:</h3></div>
                <address>
                    <a href="mailto:brahctopus@gmail.com" target="_blank">brahctopus@gmail.com</a>
                </address>
            </div>
            <div class="col-md-6">
                <div class="header"><h3>Links:</h3></div>
                <ul class="links">
                    <li><a href="//www.facebook.com/BrahctopusBand/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="//www.instagram.com/brahctopus/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="//www.youtube.com/channel/UCWGVAYsHVAvD2U77-Q_EugA" target="_blank"><i class="fab fa-youtube"></i></a></li>
                </ul>
                <ul class="links">
                    <li><a href="//geo.itunes.apple.com/us/album/mothership/1450453947?uo=4&app=music&ls=1&at=1000lHKX" target="_blank"><i class="fab fa-itunes-note"></i></a></li>
                    <li><a href="//open.spotify.com/album/2W995xBOzMUEjMUpsr1WlT?si=dEJRvNcERmiUZFrAcrMiJA" target="_blank"><i class="fab fa-spotify"></i></a></li>
                    <li><a href="//play.google.com/music/m/Bwva5lw7shol2cvkgf63yli24le?signup_if_needed=1" target="_blank"><i class="fab fa-google-play"></i></a></li>
                    <li><a href="//music.amazon.com/albums/B07N289L4D?do=play" target="_blank"><i class="fab fa-amazon"></i></a></li>
                    <li><a href="//napster.com/artist/art.348960426/album/alb.348960429" target="_blank"><i class="fab fa-napster"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="epk">
            <div class="header"><h3>Press:</h3></div>
            <ul>
                <li><a href="//www.post-gazette.com/ae/music/2019/03/04/Brahctopus-Mothership-Pittsburgh-laster-Jaggerz-Jimmie-Ross-Jordan-York-Blue-Collar/stories/201903040083" target="_blank">Pittsburgh Post-Gazette - Local Scene: A laser Brahctopus; a rapper and Jagger; Little Feat fete; and Misra-Monkey booking</a></li>
                <li><a href="//www.pghcitypaper.com/pittsburgh/three-years-since-its-inception-brahctopus-finally-touches-down-with-its-debut-album-mothership/Content?oid=13959957" target="_blank">Pittsburgh City Paper - Three years since its inception, Brahctopus finally touches down with its debut album, Mothership</a></li>
                <li><a href="//www.thejamwich.com/2017/12/05/feliz-navibrah-brahctopus/" target="_blank">The Jamwich - Feliz NaviBRAH! Exclusive Interview with Brahctopus about Feliz NaviBRAH! Dec 23rd, 2017</a></li>
            </ul>
        </div>
        <div class="epk row">
            <div class="col-lg-6">
                <div class="header"><h3>We've Shared the Bill With:</h3></div>
                <ul>
                    <li>George Clinton and Parliament Funkadelic</li>
                    <li>Keller Williams</li>
                    <li>Dawes</li>
                    <li>DJ Logic with Mononeon</li>
                    <li>The Movement (x2)</li>
                    <li>Ripe</li>
                    <li>Vibe and Direct</li>
                    <li>Giant Panda Guerilla Dub Squad</li>
                    <li>Bumpin Uglies (x4)</li>
                    <li>G-Nome Project</li>
                    <li>Tomorrow's Bad Seeds</li>
                    <li>Pasadena (x2)</li>
                    <li>Oogee Wawa</li>
                    <li>Higher Education</li>
                    <li>The Commonheart</li>
                    <li>Marmalakes</li>
                    <li>and many more...</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="header"><h3>Festival Expreience:</h3></div>
                <ul>
                    <li>PA Cannabis Fest</li>
                    <li>Three Rivers Arts Festival</li>
                    <li>Frozen Harbor Music Festival (x3)</li>
                    <li>KayaFest</li>
                    <li>Garefest (x4)</li>
                    <li>Deutschtown Music Festival (x2)</li>
                    <li>Millvale Music Festival</li>
                    <li>Funky Fest</li>
                    <li>Rhythm and Brews</li>
                    <li>South Side Art Crawl</li>
                    <li>All-Scene Festival (x2)</li>
                    <li>Ragoo Festivoo</li>
                    <li>and more...</li>
                </ul>
            </div>
        </div>
    </div>
</div>