<div class="container">
    <div class="rise-of-locus">
        <div class="rise">
            <img class="bg" src="https://i.imgur.com/P4n1AQU.jpg" data-position="calc(50% + 30px) 50%" />
            <img src="https://i.imgur.com/MT5Vfha.png" />
            <p>3 years ago, Earth was stunned by the arrival of its first extraterrestrial guest. The intergalactic creature resembled that of a futuristic cephalopod, but was by no means an advanced species. Initial attempts to control the creature failed. It was violent. Uncontrollable. Shortly after its capture, it escaped, and wasn’t seen again for 2 years.</p>
            <p>It was a warm spring day when the creature attacked. This was the first contact since it disappeared. Having grown nearly 50 times in size, even military action was useless. When all hope seemed lost, something caught the creatures attention. A local musician had come forward, strumming a ukulele, singing for peace between intergalactic neighbors. The creature began to calm. Having noticed the reaction, the musician quickly assembled the rest of his band, and the group was able to tame the creature.</p>
            <p>A strong bond developed, and Brahctopus was formed. They named the creature Locus, and learned to control it, feeding it information through sound waves.</p>
            <p>Now, Earth has made contact with alien life once again. The Mothership came down claiming a peaceful visit. It was massive in size, comparable to that of Locus. It travelled the world, insisting on exploring our beautiful planet. That all changed when it found Locus.</p>
            <p>The reaction from Locus was clear, they had met before. The Mothership instantly changed demeanors, withdrawing cannons and deploying a massive shield. It became clear the Mothership had been looking for Locus all along.</p>
            <p>A fierce battle ensued, but Locus was unable to penetrate the shields, even with the rest of Brahctopus. Now, the band has decided to launch an internal attack on the Mothership. Once inside, they can disable the shield generator. That is, once they defeat those protecting it...</p>
        </div>
        <div class="rise">
            <a href="/enter-the-mothership/" data-page="enter-the-mothership">
                <h2>Continue the story with...</h2>
                <img src="https://i.imgur.com/nK3OrkT.jpg" />
            </a>
        </div>
    </div>
</div>