<div class="container">
    <div class="vis">
        <img class="bg" src="https://i.imgur.com/depjdWP.png" data-position="calc(50% + 30px) 50%" />
        <div class="vis-grid">
            <iframe src="https://www.youtube.com/embed/By92zMhiVM0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/Q5k3JgrmEsQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe src="https://www.youtube.com/embed/FRhhmgVuo6k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>